body {
    margin: 0;
}
.mySlides {
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.mySlides__inner {
    z-index:10;
}

.background1 {
    background-image: url("./photo-1665424289325-ba576b64d0fa.avif");
}

.background2 {
    background-image: url("./premium_photo-1661755517327-cd15ab3086bf.avif");
}

.background3 {
    background-image: url("./photo-1665422266565-e1c59b4e3fdb.avif");
}

.wrapper h1 {
    margin:0;
}
.mySlides.darkMode {
    filter: invert(100%);
}
.navigation {
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    position:absolute;
    height: 100%;
    left:0;
    top:0;
    z-index:0;
}
.navigation a {
    font-size: 4rem;
    color:#fff;
    cursor:pointer;
}